.main-footer{
    display: flex;
    justify-content: center;
    background-color:white;
    padding-bottom: 10px;
    padding-top: 10px;
}


.main-footer .action{
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.5s;
}

.action:hover{
    transform: scale(1.08);
}
