 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

.profile .social-icons a{
    font-size: 27px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 32px;
    transition: 0.3s;
} 

.profile .social-icons a:hover{
    background-color: rgb(45, 105, 105);
}

.profile {
    text-align: center;
}

.profile-pic {
    background-color: black;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.social-icons img {
    width: 24px;
    height: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

