.progress-bar{
    border: 3px solid black;
    height: 30px;
    margin-left:-20px;
    margin-bottom:10px ;
}

progress {
    appearance: none;
    width: 200px;
    height: 20px;
}

progress::-webkit-progress-bar {
    background-color: #ffffff;
}

progress::-webkit-progress-value {
    background-color: #001B34;   
}

.progress-bar-java{
    border: 3px solid black;
    height: 30px;
    margin-left:125px;
    margin-bottom:10px ;
}