*{
    font-family: "Press Start 2P","Jacquarda Bastarda 9";
}

html{
    scroll-behavior: smooth;
}
header{
    height: 150px;
    background-color: #37A596;
    padding-bottom: 10px;
}

header img{
    height: 140px;
    padding-left: 10px;
    padding-top: 10px;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #3D7A72;
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px
}

nav {
    margin-top: 120px;
}

.logo{
    display: inline-block;
    transition: 0.8s;
}

.logo:hover{
    transform: scale(1.08);
}

#button{
    background-color: rgba(50, 121, 121, 0.654);
    display: inline-block;
    height: 50px;
    width: 180px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 55px;
    box-shadow: 1px 1px 0px black ;
    transition: 0.9s;
    margin-top: 105px;
}

#button:hover{
    color: #35504C;
    background-color: white;
    transform: scale(1.08);
}

main{
    background-color:#3D7A72;
    padding-top: 1px;
    height: auto;
    width: auto;
    margin-top: 10px;
}

main h2{
    text-align: center;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 50px;
}
section .txt-top-site p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top:30px
    }
}
.perfil{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: black;
    margin-bottom: 70px;
}

.flex{
    display: flex;
}


#Skills{
    border-bottom: 10px solid black;
    border-top: 10px solid black; ;
}

#Experiencia{
    border-top: 10px solid black ;
}

#Experiencia p{
    width: 400px;
    display: flex;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;       
}

.central {
    display: flex;
    width: 70%;
    margin: auto;
}

.central p{
    flex: 1; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


